.digiclips_title {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #1a35d2, #38d8fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(0, 208, 255, 0.5);
    text-align: center;
    padding-bottom: 10px;
}

.digiclips_slogan {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
